@font-face {
  font-family: monopoly;
  src: url(monopoly-font.otf);
}
@font-face {
  font-family: monopoly-bold;
  src: url(monopoly-bold.otf);
}
html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: monopoly;
  font-size: 30px;
}
b{
  font-family: monopoly-bold;
}
div{
  box-sizing: border-box;
  float: left;
}
.monopoly-card{
  width: 572px;
  height: 880px;
  border-radius: 20px;
  border: 1px solid black;
}
.large-inner-box{
  height: 448px;
  margin-top: 35px;
  margin-left: 50px;
  margin-right: 50px;
  width: 472px;
  border: 4px solid black;
}
.large-text-box{
  height: 112px;
  width: 472px;
  margin-left: 50px;
  margin-right: 50px;
  padding-top: 7px;
  text-align: center;
  font-size: 25px;
}
.small-inner-box{
  height: 221px;
  width: 472px;
  margin-left: 50px;
  margin-right: 50px;
  border: 4px solid black;
  padding-top: 12px;
}
.name-box{
  color: white;
  padding-top: 10px;
  text-align: center;
  width: 442px;
  height: 140px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 15px;
  background-color: #139241;
}
span{
  line-height: 30px;
}
#main-name{
  font-size: 35px;
}
.houses-box{
  margin-left: 30px;
  width: 294px;
  height: 293px;
  padding-top: 5px;
}
.prices-box{
  padding-right: 30px;
  text-align: right;
  width: 140px;
  height: 293px;
  padding-top: 5px;
}
.price{
  font-weight: 600;
}
.left-small-inner-box{
  margin-left: 30px;
  width: 274px;
  height: 221px;
}
.right-small-inner-box{
  width: 160px;
  height: 221px;
  text-align: right;
  padding-right: 30px;
}
.copyright-text{
  width: 572px;
  text-align: center;
  font-size: 22px;
}
